.search-filter {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.transition {
    transition: all 0.35s ease;
}

@media (max-width: 767.98px) {
    .search-filter {
        border-bottom-right-radius: 0px !important;
        border-right: none !important;
    }
}