body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
}

svg {
  width: 1.5rem;
}

.button svg {
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

@import "scss/bootstrap-customisation.scss";